.action
	padding: 65px 0 100px
	+r(991)
		padding: 60px 0
	+r(767)
		padding: 50px 0
	&__box
		margin-bottom: 30px
		color: $white
		padding: 58px 45px 50px
		border-radius: 5px
		box-shadow: 5px 9px 20px 0 rgba(0, 0, 0, 0.1)
		background-color: $azurer-radiance
		background-position: right top
		background-repeat: no-repeat
		background-size: cover
		position: relative
		+r(768)
			&::before
				content: ''
				width: 100%
				height: 100%
				left: 0
				right: 0
				top: 0
				bottom: 0
				background: rgba(0, 131, 255, .5)
				position: absolute
				border-radius: 5px
		&_study
			margin-bottom: 0
			+r(991)
				margin-bottom: 30px
		&_group
			margin-bottom: 0
		h3
			font-family: $helper-font
			font-weight: 400
			font-size: 24px
			max-width: 130px
			padding-left: 15px
			border-left: 3px solid $west-side
			line-height: 1.2em
			margin-bottom: 28px
			position: relative
			+r(575)
				max-width: none
				text-align: center
		p
			max-width: 220px
			position: relative
			strong
				display: block
				font-weight: 700
				line-height: 1.5em
			& ~ p
				margin-top: 5px
			& ~ a
				margin-top: 10px
		a
			display: block
			text-transform: uppercase
			font-size: 12px
			font-weight: 500
			color: $white
			text-decoration: underline
			position: relative
			transition: all .3s ease
			&:hover
				text-decoration: none
				font-weight: 600
		&_sale
			position: absolute
			right: 30px
			bottom: 30px
			font-family: $helper-font
			font-size: 50px
			span
				font-size: 84px
