.apply
	padding: 14px 0 50px
	+r(991)
		padding: 60px 0
	+r(767)
		padding: 50px 0
	&__content
		display: flex
		flex-wrap: wrap
	&__block
		background: $white url('../img/apply-block-bg.png') no-repeat center
		background-size: cover
		max-width: 560px
		width: 100%
		padding: 53px 55px
		border-radius: 5px
		box-shadow: 5px 8.66px 50px 0px rgba(0, 0, 0, 0.05)
		margin-bottom: 30px
		&:last-of-type
			margin-bottom: 0
		+r(1199)
			max-width: 445px
			padding: 50px 30px
		+r(991)
			max-width: none
		+r(576)
			padding: 30px
		& ~ .apply__block
			margin-left: 40px
			+r(991)
				margin-left: 0
		h3
			font-family: $helper-font
			font-size: 30px
			line-height: 1em
			color: $mine-shaft
			font-weight: 400
			margin-bottom: 15px
			+r(576)
				text-align: center
			span
				color: $west-side
		ul
			border-left: 2px dashed $mercury
			margin-left: 5px
			max-width: 350px
			li
				padding-left: 45px
				position: relative
				font-size: 14px
				line-height: 1.5em
				color: $dove-gray
				margin-bottom: 30px
				&:last-of-type
					margin-bottom: 0
					&::before
						top: auto
						bottom: 0
						transform: translateY(0)
				a
					color: $azurer-radiance
					text-decoration: underline
					transition: all .3s ease
					&:hover
						color: $west-side
						text-decoration: none
				&::before
					content: url('../img/bottom-arrow.svg')
					position: absolute
					width: 50px
					height: 50px
					left: -25px
					top: 50%
					transform: translateY(-50%)
				&:first-of-type
					&::before
						top: 0
						transform: translateY(0)
				&:last-of-type
					&::before
						content: url('../img/checked-arrow.svg')
		&_care
			background-image: none
			border-radius: 5px
			border: 5px solid $alabaster
			width: 100%
			max-width: 510px
			padding: 53px 35px
			h3
				font-size: 21px
				span
					color: $bittersweet
			ul
				max-width: 440px
				li
					margin-bottom: 45px
					&::before
						content: url('../img/exclamation.svg')

					&:last-of-type
						&::before
							content: url('../img/exclamation.svg')
