.card-block
	padding: 123px 0
	display: flex
	flex-wrap: wrap
	+r(1199)
		justify-content: space-between
		padding: 70px 0
	+r(991)
		justify-content: center
		padding: 60px 0
	+r(767)
		padding: 50px 0
	&__wrapper
		background-position: bottom
		background-repeat: no-repeat
		background-size: cover
	&__block
		background: $white
		width: 100%
		max-width: 370px
		text-align: center
		border-radius: 10px
		box-shadow: 5px 8.66px 30px 0 rgba(0, 0, 0, 0.05)
		position: relative
		display: flex
		flex-direction: column
		cursor: pointer
		margin-bottom: 30px
		&:last-of-type
			+r(991)
				margin-bottom: 0
		+r(1199)
			max-width: 290px
		+r(991)
			max-width: 310px
			margin: 0 auto 30px
		+r(767)
			max-width: 400px
		.view-img
			border-radius: 10px 10px 0 0
			height: 204px
			display: block
			margin-bottom: 34px
			object-fit: cover
		.flag-img
			position: absolute
			display: block
			top: 162px
			width: 96px
			height: 60px
			border: 6px solid $white
			border-radius: 5px
			left: calc(50% - 48px)
		& ~ .card-block__block
			margin-left: 30px
			+r(1199)
				margin-left: 0
			+r(991)
				margin-left: auto
		h3
			font-family: $helper-font
			font-size: 24px
			line-height: 1em
			text-transform: uppercase
			color: $mine-shaft
			font-weight: 400
			margin-bottom: 5px
			letter-spacing: .025em
		h4
			font-weight: 600
			font-size: 16px
			text-transform: uppercase
			color: $azurer-radiance
			margin-bottom: 15px
		ul
			margin-bottom: 25px
			li
				font-size: 16px
				color: $dove-gray
				line-height: 1.3125em
		.more-btn
			margin-top: auto
			background-color: rgb(247, 247, 247)
			box-shadow: inset 0px -3px 0px 0px rgba(212, 212, 212, 1)
			border-radius: 0 0 10px 10px
			text-transform: uppercase
			font-size: 14px
			letter-spacing: .05em
			padding: 12px 0
			color: $dove-gray
		&:hover
			.more-btn
				color: $white
				font-weight: 700
				background-image: linear-gradient( -90deg, rgb(0,108,255) 0%, rgb(0,131,255) 100%);
				box-shadow: inset 0px -3px 0px 0px rgba(0, 103, 237, 1)

