#map
	width: 100%
	height: 510px
	+r(767)
		height: 300px
.contacts
	position: relative
	&__block
		position: absolute
		top: 125px
		background: $white
		left: 20%
		padding: 40px 65px 30px 40px
		border-radius: 4px
		box-shadow: 2.5px 4.33px 25px 0 rgba(0, 0, 0, 0.1)
		+r(767)
			position: relative
			top: 0
			right: 0
			bottom: 0
			left: 0
			padding: 40px 30px
		&_info
			display: flex
			+r(575)
				flex-direction: column
				align-items: center
			img
				border-radius: 3px
				border: 3px solid $white
				box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, 0.1)
				margin-right: 30px
				+r(575)
					margin-right: 0
		&_text
			margin-top: 15px
			+r(575)
				text-align: center
			a
				display: block
				font-family: $helper-font
				color: $mine-shaft
				line-height: 1em
				margin-bottom: 12px
				padding-left: 20px
				transition: all .3s ease
				position: relative
				&::before
					position: absolute
					left: 0
					top: calc( 50% - 7px)
				&:last-of-type
					margin-bottom: 40px
					+r(575)
						margin-bottom: 20px
				&.tel
					font-size: 19px
					&::before
						content: url('../img/call-answer.svg')
						width: 14px
						height: 14px
				&.mail
					font-size: 14px
					text-decoration: underline
					&::before
						content: url('../img/mail.svg')
						width: 12px
						height: 10px
					&:hover
						text-decoration: none
				&:hover
					color: $azurer-radiance
			h4
				font-weight: 600
				color: $mine-shaft
				line-height: 1em
			p
				font-size: 12px
				color: $dove-gray
				line-height: 1.3em
