.first-screen
	padding: 273px 0 70px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	+r(1199)
		padding: 200px 0 70px
	+r(991)
		padding: 140px 0 60px
		position: relative
		&::before
			content: ''
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-image: linear-gradient( to top, rgba(0,0,0, .5) 40%, rgba(51,51,59,0) 100%);
	+r(767)
		padding: 140px 0 50px
	+r(575)
		padding: 100px 0 50px
	.content
		color: $white
		p
			font-weight: 700
			font-size: 20px
			line-height: 1.2em
			+r(991)
				font-size: 18px
			+r(767)
				font-size: 16px
			+r(420)
				font-size: 14px
				font-weight: 500
			span
				font-weight: 400
				font-size: 16px
				line-height: 1.5em
				+r(420)
					font-size: 14px
			& ~ ul
				margin-top: 7px
				+r(767)
					margin-top: 4px
		ul
			li
				font-weight: 400
				font-size: 16px
				line-height: 1.5em
				position: relative
				+r(420)
					font-size: 14px
				&:before
					content: '-'
			& ~ p
				margin-top: 8px
				+r(767)
					margin-top: 4px
	.info-img
		display: flex
		margin-top: 60px
		color: $white
		+r(991)
			margin-top: 30px
			margin-bottom: 30px
			justify-content: space-between
		+r(767)
			margin: 15px 0
		+r(575)
			flex-wrap: wrap
			justify-content: center
		+r(420)
			flex-direction: column
		&__block
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			+r(575)
				margin: 0 15px 10px
			+r(420)
				margin: 0 0 10px
			img
				margin-bottom: 10px
				width: 59px
				height: 59px
			h2
				font-family: $helper-font
				font-size: 16px
				font-weight: 400
				color: $west-side
				margin-bottom: 5px
			p
				font-size: 12px
				font-weight: 400
				line-height: 1.5em
			& ~ .info-img__block
				margin-left: 100px
				+r(991)
					margin-left: 0
				+r(575)
					margin-left: 15px
				+r(420)
					margin-left: 0

.form
	background: $white
	margin-right: 5px
	margin-left: -25px
	border-radius: 4px
	box-shadow: inset 0px -5px 0px 0px rgba(212, 212, 212, 1)
	padding: 60px 45px 65px
	+r(991)
		margin-left: 0
		margin-right: 0
		padding: 60px 45px 40px
	+r(576)
		padding: 40px 20px 30px
	h3
		text-align: center
		font-family: $helper-font
		color: $mine-shaft
		font-weight: 400
		font-size: 36px
		line-height: 1em
		margin-bottom: 20px
		+r(1199)
			font-size: 28px
			margin-bottom: 15px
	p
		text-align: center
		font-weight: 500
		color: $mine-shaft
		line-height: 1.43em
		margin-bottom: 34px
		strong
			font-weight: 900
		+r(1199)
			margin-bottom: 25px
			br
				display: none
	input[name="tel"], [name="name"]
		border-bottom: 1px solid $mercury
		color: $mine-shaft
		border-radius: 0
		line-height: 1em
		box-shadow: none
		font-size: 12px
		font-family: $form-font
		font-weight: 500
		width: 100%
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		padding: 12px 50px
		position: relative
		&:required:valid
			color: $mine-shaft
			opacity: 1
			outline: none
			box-shadow: none
			-webkit-appearance: none
		&::placeholder
			font-family: $form-font
			line-height: 1em
			font-size: 12px
	.input-wrapper
		position: relative
		textarea
			width: 100%
			margin-bottom: 30px
			border: none
			border-bottom: 1px solid $mercury
			color: $mine-shaft
			border-radius: 0
			line-height: 1em
			box-shadow: none
			font-size: 12px
			font-family: $form-font
			font-weight: 500
			outline: none
			-webkit-appearance: none
			-moz-appearance: none
			padding: 12px 50px
			position: relative
			resize: none
			&:required:valid
				color: $mine-shaft
				opacity: 1
				outline: none
				box-shadow: none
				-webkit-appearance: none
			&::placeholder
				font-family: $form-font
				line-height: 1em
				font-size: 12px
		&::before
			position: absolute
			height: auto
			z-index: 10
			top: 11px
			left: 21px
	.input-wrapper-textarea
		&::before
			content: url('../img/rating.svg')
			width: 21px
	.input-wrapper-name
		&::before
			content: url('../img/avatar.svg')
			width: 12px
	.input-wrapper-tel
		&::before
			content: url('../img/telephone.svg')
			width: 14px
	input[name="name"]
		margin-bottom: 20px

	input[name="tel"]
		margin-bottom: 22px
	.checkbox
		&__wrapper
			margin-top: 7px
			+r(991)
				text-align: center
			input[name="agree"]
				position: absolute
				opacity: 0
			label
				&.checkbox-label
					font-family: $form-font
					padding-left: 20px
					font-weight: 100
					font-size: 11px
					color: $dove-gray
					line-height: 1em
					text-align: left
					position: relative
					cursor: pointer
					+r(420)
						font-size: 9px
					&::before
						content: ''
						position: absolute
						display: inline-block
						width: 13px
						height: 13px
						background: $white
						border: 1px solid $dove-gray
						left: 0
						top: 1px
					&::after
						content: ''
						width: 9px
						height: 4px
						border-bottom: 2px solid $dove-gray
						border-left: 2px solid $dove-gray
						transform: rotate(-45deg)
						position: absolute
						left: 2px
						top: 5px
						opacity: 0
						transition: all .3s ease
					a
						text-decoration: underline
						color: $dove-gray
						transition: all .3s ease
						&:hover
							text-decoration: none
							color: $azurer-radiance
			input[type="checkbox"]:checked ~ label.checkbox-label::after
				transition: all .3s ease
				opacity: 1

