.footer
	background: $shark
	&__wrapper
		padding: 60px 0 40px
		display: flex
		align-items: center
		+r(991)
			justify-content: center
			flex-wrap: wrap
		+r(767)
			flex-direction: column
			.button
				margin-left: 0
				margin-bottom: 30px

	&__contacts
		+r(991)
			margin-bottom: 20px
		a
			font-family: $helper-font
			display: block
			transition: all .3s ease
			line-height: 1em
			&.mail
				color: $west-side
				text-decoration: underline
				margin-bottom: 7px
				font-size: 15px
				+r(575)
					text-align: center
				&:hover
					text-decoration: none
			&.tel
				color: $white
				font-size: 30px
				+r(575)
					text-align: center
			&:hover
				color: $azurer-radiance
	.copyright
		display: flex
		justify-content: space-between
		align-items: center
		padding: 20px 0
		border-top: 1px solid $tuna
		&__info
			font-size: 12px
			color: $dove-gray
			+r(575)
				text-align: right
				font-size: 10px
				line-height:  1em
