.gallery
	padding: 60px 0
	+r(767)
		padding: 50px 0
	.title
		h2
			margin-bottom: 70px
			+r(991)
				margin-bottom: 50px
			+r(767)
				margin-bottom: 30px
	&__wrapper
		position: relative
		min-height: 450px
		+r(1199)
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: center
			min-height: auto
		img
			position: absolute
			border: 6px solid $white
			display: block
			box-shadow: 2.5px 5px 30px 0 rgba(31, 31, 31, 0.1)
			+r(1199)
				position: relative
			+r(991)
				width: 50%
				height: auto
				object-fit: cover
			&:nth-of-type(1)
				top: 140px
				left: 0
				+r(1199)
					top: 0
					left: 0
			&:nth-of-type(2)
				left: 330px
				top: 0
				+r(1199)
					top: 0
					left: 0
			&:nth-of-type(3)
				left: 400px
				top: 230px
				z-index: 2
				+r(1199)
					top: 0
					left: 0
			&:nth-of-type(4)
				right: 170px
				top: 140px
				z-index: 1
				+r(1199)
					top: 0
					left: 0
			&:nth-of-type(5)
				right: 0
				top: 45px
				+r(1199)
					top: 0
					left: 0
		a
			position: absolute
			right: 20px
			bottom: 70px
			z-index: 3
			+r(1199)
				position: relative
				bottom: 0
				right: 0
				margin-top: 30px

