.header
	position: fixed
	left: 0
	top: 0
	right: 0
	z-index: 1200
	&-main
		display: flex
		justify-content: space-between
		align-items: center
		padding: 19px 0 24px
		z-index: 1200
		background: $white
		position: relative
		transition: all .3s ease
		+r(991)
			flex-wrap: wrap
			padding: 5px 0
		+r(420)
			max-height: 60px
			overflow: hidden
			transition: all .3s ease
		&.scroll
			padding: 5px 0
			transition: all .3s ease
		&__wrapper
			border-bottom: 1px solid $mercury
			z-index: 1200
			position: relative
			background: $white
			&.active
				transition: all .3s ease
				.header-main
					+r(420)
						max-height: none

		&_mail
			position: relative
			margin-left: auto
			margin-right: 50px
			+r(991)
				margin-right: 0
				order: 4
			+r(420)
				margin-left: auto
				margin-right: auto
			a
				margin-left: 20px
				color: $mine-shaft
				font-weight: 500
				display: inline-block
				transition: all .3s ease
				&::before
					content: url('../img/mail.svg')
					position: absolute
					width: 12px
					height: 10px
					left: 0
				&::after
					content: ''
					position: absolute
					opacity: 0
					bottom: 0
					left: 20px
					width: calc( 100% - 20px )
					height: 2px
					background: $mine-shaft
					transition: all .5s ease
				&:hover
					&::after
						width: calc( 100% - 20px )
						left: 20px
						right: 0
						opacity: 1
						background: $azurer-radiance
		.callback
			margin-left: 38px
			text-align: right
			display: block
			+r(991)
				margin-left: 0
			+r(767)
				text-align: left
			+r(420)
				margin-top: 5px
				margin-left: auto
				margin-right: auto
			.tel
				font-family: $helper-font
				font-size: 21px
				line-height: 1em
				color: $mine-shaft
				position: relative
				display: block
				margin-left: 18px
				transition: all .3s ease
				+r(767)
					font-size: 18px
				&::before
					content: url('../img/call-answer.svg')
					position: absolute
					left: -18px
					width: 14px
					height: 14px
				&::after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					opacity: 0
					height: 2px
					background: $mine-shaft
					transition: all .5s ease
				&:hover
					&::after
						left: 0
						background: $azurer-radiance
						right: 0
						width: 100%
						opacity: 1
			a
				display: inline-block
				text-align: right
				text-transform: uppercase
				&.callback-link
					font-weight: 600
					font-size: 12px
					color: $azurer-radiance
					border-bottom: 2px dotted $azurer-radiance
					transition: all .5s ease
					line-height: 1em
					+r(767)
						display: none
					&:hover
						color: $mine-shaft
						border-bottom: 1px dotted transparent
	&-nav
		width: 100%
		display: flex
		justify-content: space-between
		z-index: 1000
		background: $white
		position: relative
		+r(991)
			flex-direction: column
		+r(575)
			overflow: auto
			height: calc( 100vh - 125px)
			justify-content: flex-start
		+r(420)
			height: calc( 100vh - 145px)
		&__wrapper
			z-index: 1000
			position: relative
			background: $white
			transition: all .3s ease
			+r(1199)
				transform: translateY(-100%)
			&.scroll
				transform: translateY(-100%)
				position: absolute
				left: 0
				right: 0
				transition: all .3s ease
				box-shadow: 0 2px 2px 0 rgba( 0,0,0,.1)
				.header-nav__more-btn
					display: flex
					opacity: 1

			&.active
				transform: translateY(0)
				transition: all .3s ease
		&__more-btn
			display: none
			opacity: 0
			position: absolute
			padding: 15px 25px 5px 15px
			border-radius: 0 0 5px 5px
			line-height: 1em
			top: 80%
			color: $white
			text-transform: uppercase
			background: $azurer-radiance
			left: 50%
			transform: translateX(-50%)
			cursor: pointer
			transition: all .3s ease
			text-align: center
			min-height: 35px
			+r(1199)
				display: flex
				opacity: 1
				top: 90%
			+r(576)
				top: 97%
			&:hover
				top: 100%
				transition: all .3s ease
				.header-nav__more-btn_burger
					.bar
						transform: rotate(90deg)
						&::before, &::after
							width: 8px
							height: 2px
							left: auto
							right: 0
						&::before
							transform: rotate(-45deg)
							top: 3px
						&::after
							top: -3px
							transform: rotate(45deg)
					&.active
						.bar
							background: $white
							&::before , &::after
								width: 8px
								height: 2px
								left: 0
								right: auto
							&::before
								transform: rotate(45deg)
								top: 3px
							&::after
								transform: rotate(-45deg)
								top: -3px


			&_burger
				width: 15px
				height: 15px
				position: absolute
				right: 5px
				bottom: 5px
				.bar
					width: 15px
					height: 2px
					background: $white
					position: absolute
					top: calc( 50% - 1.5px)
					transition: all .3s ease
					&::before, &::after
						content: ''
						width: 15px
						height: 2px
						position: absolute
						background: $white
						left: 0
						transition: all .3s ease
					&::before
						top: 4px
					&::after
						top: -4px
				&.active
					.bar
						background: transparent
						&::before
							transform: rotate(45deg)
							top: 0
						&::after
							transform: rotate(-45deg)
							top: 0
.nav
	&-main
		+r(991)
			order: 2
		+r(575)
			order: 1
		ul
			display: flex
			width: 100%
			max-width: 750px
			flex-wrap: wrap
			+r(991)
				justify-content: space-between
				margin-right: 30px
			+r(576)
				justify-content: center
				flex-direction: column
				align-items: center
			li
				display: block
				a
					display: block
					padding: 18px 7px
					line-height: 1em
					letter-spacing: .025em
					font-weight: 500
					color: $mine-shaft
					text-transform: uppercase
					position: relative
					transition: all .3s ease
					+r(575)
						padding: 10px 10px
					&::before
						content: ''
						width: 100%
						height: 5px
						bottom: 0
						left: 0
						right: 0
						background: $mine-shaft
						opacity: 0
						position: absolute
						transition: all .5s ease
					&:hover
						color: $azurer-radiance
						&::before
							background: $azurer-radiance
							width: 100%
							left: 0
							opacity: 1
					&:active
						background: rgba(170, 203, 255,.2)
					&:focus
						color: $azurer-radiance
						&::before
							background: $azurer-radiance
							opacity: 1
				& ~ li
					margin-left: 73px
					+r(1199)
						margin-left: 15px
					+r(991)
						margin-left: 0

