.modal
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	max-width: 780px
	transform: scale(.7)
	&__wrapper
		display: flex
		background: $white
		border-radius: 4px
		padding-bottom: 5px
		box-shadow: inset 0px -5px 0px 0px rgba(212, 212, 212, 1)
		+r(575)
			flex-direction: column-reverse
	&__content
		width: 50%
		position: relative
		+r(575)
			width: 100%
	&__info
		background: $alabaster
		border-radius: 0 4px 4px 0
		padding: 40px 30px
		h4
			font-family: $helper-font
			font-size: 36px
			line-height: 1.4em
			color: $mine-shaft
			text-transform: uppercase
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 25px
			span
				font-size: 14px
				display: inline-block
				line-height: 1em
				padding-left: 15px
				position: relative
				&::before
					content: ''
					position: absolute
					left: 0
					width: 2px
					height: 200%
					top: 50%
					transform: translateY(-50%)
					background: $west-side
		h5
			font-family: $helper-font
			font-size: 18px
			color: $mine-shaft
			line-height: 1.2em
			margin-bottom: 15px
		ul
			margin-bottom: 30px
			&:last-of-type
				margin-bottom: 0
			li
				padding-left: 15px
				position: relative
				font-weight: 300
				color: $mine-shaft
				font-size: 14px
				line-height: 1.2em
				margin-bottom: 5px
				&::before
					content: ''
					position: absolute
					top: 5px
					left: 0
					width: 8px
					height: 5px
					border-bottom: 1px solid $mine-shaft
					border-left: 1px solid $mine-shaft
					transform: rotate(-45deg)
				strong
					font-weight: 500
				a
					color: $azurer-radiance
					text-decoration: underline
					transition: all .3s ease
					&:hover
						color: $west-side
						text-decoration: none
		&_text
			padding-left: 15px
			border-left: 2px solid $west-side
			margin-bottom: 30px
			p
				line-height: 1em
				margin-bottom: 10px
				strong
					font-weight: 600
	&__form
		border-radius: 4px 0 0 4px
	.form-modal
		padding: 0 40px 30px
		border-radius: 0 0 0 4px
		margin-left: 0
		box-shadow: none
		margin-right: 0
	.view-img
		border-radius: 4px 0 0 0
		width: 100%
		height: 150px
		object-fit: cover
		display: block
		margin-bottom: 45px
	.flag-img
		position: absolute
		display: block
		top: 110px
		width: 96px
		height: 60px
		border: 6px solid $white
		border-radius: 5px
		left: calc(50% - 48px)
#callback, #review
	max-width: 380px
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.7)
	.form-modal
		padding: 40px
		border-radius: 4px
		margin-left: 0
		margin-right: 0
#thanks
	max-width: 380px
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.7)
	+r(575)
		max-width: 300px
	.form-modal
		padding: 40px
		border-radius: 4px
		margin-left: 0
		margin-right: 0
		p
			&:last-of-type
				margin-bottom: 0
.popup_close
	position: absolute
	top: 15px
	right: 15px
	background: transparent
	width: 20px
	height: 20px
	border-radius: 50%
	border: 1px solid $silver-chalice
	transition: all .3s ease
	&::before, &::after
		content: ''
		width: 12px
		height: 1px
		background: $silver-chalice
		position: absolute
		left: calc( 50% - 6px )
		top: calc(50% - .5px )
		transition: all .3s ease
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(-45deg)
	&:hover
		border-color: $bittersweet
		&::before, &::after
			background: $bittersweet
		&::before
			transform: rotate(-45deg)
		&::after
			transform: rotate(45deg)
	span
		display: none


.popup_visible
	#modal-viza
		&-england, &-usa, &-canada
			transform: scale(1)
	#callback, #thanks, #review
		transform: scale(1)

label
	&.error
		position: absolute
		left: 0
		top: -15px
		width: 100%
		background: $bittersweet
		color: $white
		z-index: 100
		text-align: center
		border-radius: 3px
	&#agree-error
		top: auto
		bottom: -20px
