.reviews
	padding: 65px 0 85px
	+r(991)
		padding: 60px 0
	+r(767)
		padding: 50px 0
	&__slider
		margin-bottom: 30px
		&_slide
			padding: 0 25px
			margin: 20px 0
		&_content
			&:nth-of-type(1)
				max-width: 135px
				width: 100%
				margin-right: 30px
				+r(575)
					max-width: none
					margin-right: 0
					margin-bottom: 15px
					display: flex
					align-items: center
			&:nth-of-type(2)
				max-width: 620px
				width: 100%
			img
				width: 134px
				height: 101px
				object-fit: cover
				border: 1px solid $white
				border-right: 3px
				margin-bottom: 15px
				+r(575)
					margin-right: 30px
					margin-bottom: 0
				+r(420)
					width: 100px
					height: auto
					margin-right: 10px
		&_info
			padding-left: 10px
			border-left: 3px solid $west-side
			h3
				font-size: 13px
				font-weight: 500
				color: $mine-shaft
				line-height: 1.2em
				margin-bottom: 7px
			time
				font-size: 12px
				line-height: 1em
				font-weight: 400
				color: $dove-gray
				display: block
		&_review
			h4
				font-size: 14px
				color: $dove-gray
				margin-bottom: 15px
				font-weight: 400
			p
				font-size: 12px
				line-height: 1.75em
				color: $silver-chalice
		&_wrapper
			border-radius: 4px
			background: $white
			box-shadow: 2.5px 4.33px 25px 0 rgba(0, 0, 0, 0.1)
			display: flex
			padding: 40px 45px 30px 40px
			+r(575)
				flex-direction: column
	.slick-slide
		opacity: .5
	.slick-active
		opacity: 1
	$slick-opacity-on-hover: 1 !default
	$slick-opacity-not-active: 0.25 !default
	$slick-font-family: "slick" !default
	$slick-arrow-color: white !default
	$slick-prev-character: url('../img/back-arrow.svg') !default
	$slick-next-character: url('../img/next-arrow.svg') !default
	$slick-opacity-default: 0.75 !default
	.slick-prev,
	.slick-next
		position: absolute
		display: block
		height: 42px
		width: 42px
		line-height: 0
		font-size: 0
		cursor: pointer
		border: solid 1px rgb(254, 167, 9)
		border-radius: 4px
		background-image: linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(254,171,11) 0%, rgb(255,142,9) 100%)
		box-shadow: 2.5px 4.33px 10px 0 rgba(178, 99, 6, 0.25),inset 0 0 2px 0 rgba(250, 151, 32, 1),inset 0 0 4px 0 rgba(255, 167, 6, 1)
		color: transparent
		top: 0
		padding: 0
		outline: none
		transition: all .3s ease
		+r(575)
			top: auto
			bottom: 0
		&:hover, &:focus
			outline: none
			color: transparent
			box-shadow: 2.5px 7px 10px 0 rgba(178, 99, 6, 0.25),inset 0 0 2px 0 rgba(250, 151, 32, 1),inset 0 0 4px 0 rgba(255, 167, 6, 1)
			&:before
				opacity: $slick-opacity-on-hover
		&.slick-disabled:before
			opacity: $slick-opacity-not-active

	.slick-prev:before, .slick-next:before
		font-family: $slick-font-family
		font-size: 10px
		line-height: 1
		color: $slick-arrow-color
		opacity: $slick-opacity-default
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		position: absolute
		width: 8px
		height: 15px
		top: calc( 50% - 7.5px )
		left: calc( 50% - 4px )
	.slick-prev
		z-index: 100
		right: 36%
		+r(576)
			right: 51%
		[dir="rtl"] &
			left: auto
			right: -25px
		&:before
			content: $slick-prev-character
			[dir="rtl"] &
				content: $slick-next-character
	.slick-next
		left: 65%
		+r(576)
			left: 51%
		[dir="rtl"] &
			left: -25px
			right: auto
		&:before
			content: $slick-next-character
			[dir="rtl"] &
				content: $slick-prev-character

