.button
	position: relative
	display: block
	text-transform: uppercase
	font-weight: 700
	font-size: 14px
	letter-spacing: .025em
	line-height: 1em
	color: $white
	border: 1px solid rgb(254, 167, 9)
	border-radius: 4px
	background-image: linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(254,171,11) 0%, rgb(255,142,9) 100%)
	box-shadow: 2.5px 4.33px 20px 0 rgba(255, 142, 9, 0.25),inset 0 0 2px 0 rgba(250, 151, 32, 0.1),inset 0 0 4px 0 rgba(255, 167, 6, 0.1)
	padding: 12px 20px
	font-family: $default-font
	transition: all .3s ease
	+r(575)
		padding: 12px 36px
	+r(420)
		padding: 12px 8px
	&:hover
		background-image: linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(254,171,11) 0%, rgb(255,142,9) 80%)
		box-shadow: 5px 8px 20px 0 rgba(255, 142, 9, 0.25),inset 0 0 3px 0 rgba(250, 151, 32, 1),inset 0 0 4px 0 rgba(255, 167, 6, 1)
	&:active
		transform: translateY(1px)
	&-form
		width: 100%
		padding: 16px 20px 18px
	&-gallery
		padding: 16px 77px
	&-footer
		margin-left: auto
		margin-right: 0
		padding: 16px 25px
	&__wrapper
		text-align: center
		.button
			display: inline-block
.title
	font-family: $helper-font
	h1
		font-weight: 300
		line-height: 1em
		font-size: 54px
		color: $white
		margin-bottom: 55px
		+r(1199)
			font-size: 44px
		+r(991)
			margin-bottom: 30px
		+r(767)
			font-size: 36px
			margin-bottom: 20px
		+r(575)
			text-align: center
			font-size: 28px
			margin-bottom: 10px
		+r(420)
			font-size: 26px
		strong
			display: block
			font-weight: 400
			line-height: 1.15em
			font-size: 80px
			+r(1199)
				font-size: 58px
			+r(767)
				font-size: 48px
			+r(575)
				font-size: 36px
			+r(420)
				font-size: 32px
	h2
		font-weight: 400
		font-size: 40px
		line-height: 1em
		color: $mine-shaft
		text-align: center
		margin-bottom: 55px
		+r(991)
			font-size: 36px
		+r(767)
			font-size: 30px
			margin-bottom: 40px
		+r(575)
			font-size: 28px
			margin-bottom: 30px
	h3
		font-size: 36px
		color: $mine-shaft
		line-height: 1em
		padding-bottom: 13px
		margin-bottom: 20px
		position: relative
		+r(575)
			text-align: center
		&::before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 65px
			height: 3px
			background: $west-side
			+r(575)
				left: 50%
				transform: translateX(-50%)
.main-bg
	background: url('../img/main-bg.png') no-repeat top center
	background-size: cover
.logo
	display: flex
	align-items: center
	margin-top: 2px
	+r(1199)
		flex-direction: column
		margin-top: 0
		align-items: flex-start
	a
		display: block
	img
		width: 219px
		height: 60px
		margin-right: 33px
		+r(1199)
			width: 120px
			height: auto
			margin-right: 0
	&-description
		max-width: 125px
		font-size: 14px
		line-height: 1.3em
		color: $dove-gray
		margin-top: 13px
		+r(1199)
			max-width: 160px
			margin-top: 0
			font-size: 12px
		+r(420)
			font-size: 10px
.social
	+r(991)
		order: 1
		border-bottom: 1px solid $mercury
		position: relative
		&::before, &::after
			content: ''
			width: 100%
			height: 1px
			background: $mercury
			position: absolute
			bottom: -1px

		&::before
			right: 100%
		&::after
			left: 100%
	+r(575)
		border-top: 1px solid $mercury
		border-bottom: none
		&::before, &::after
			content: none
	ul
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
		+r(991)
			justify-content: center
		+r(575)
			flex-direction: column
			align-items: center
		li
			min-width: 140px
		a
			display: flex
			line-height: 1em
			padding: 18px 25px 17px
			border-bottom: 1px solid $mercury
			border-left: 1px solid $mercury
			transition: all .3s ease
			color: $mine-shaft
			position: relative
			font-weight: 600
			font-size: 13px
			+r(991)
				padding: 10px 25px
				border-bottom: none
				border-left: none
				border-right: none
			+r(576)
				border: none
			&::after
				content: ''
				position: absolute
				bottom: 17px
				background: $silver-chalice
				width: calc( 100% - 77px)
				left: 49px
				height: 1px
				opacity: 1
				transition: all .3s ease
				+r(991)
					bottom: 10px
			&:hover
				background: $social-hover
				&::after
					opacity: 0

		li
			& + li
				a
					border-right: none
					border-left: 1px solid $mercury
					+r(576)
						border: none
			&:last-of-type
				a
					border-right: 1px solid $mercury
					+r(991)
						border-right: none
		img
			display: block
			width: 14px
			height: 14px
			margin-right: 10px

	&__footer
		+r(991)
			border-bottom: none
			&::before, &::after
				content: none
		+r(575)
			border-top: none
		ul
			max-width: 280px
			margin-right: 40px
			+r(991)
				margin-right: 0
				max-width: none
			+r(767)
				max-width: 280px
			+r(575)
				flex-direction: row
				max-width: none
			li
				max-width: 50%
				width: 100%
				+r(991)
					max-width: 25%
				+r(767)
					max-width: 50%
				+r(575)
					max-width: none
					width: auto
					min-width: auto
				a
					justify-content: center
					padding: 17px 5px
					border: 1px solid $tuna
					color: $white
					+r(575)
						border: none
						padding: 5px 15px
						&::after
							content: none
					&:hover
						background: rgba( 0, 0, 0, .1)
				& ~ li
					a
						border: 1px solid $tuna
