<section class="action" id="action">
  <div class="container">
    <div class="title">
      <h2>
        Наши акции
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="action__box action__box_study" style="background-image: url('img/action-study.png')">
          <h3>
            Скидка
            студентам
          </h3>
          <p>
            <strong>
              Обучение в вузе значительно повышает ваши шансы на получение визы.
            </strong>
          </p>
          <p>
            Предоставим детальные консультации, в короткие сроки зарегистрируем в посольство или визовый центр, оперативно  подготовим документы для получения положительного результата и избавим Вас от лишней траты времени.
          </p>
          <a href="#" class="callback_open">
            подробнее
          </a>
          <div class="action__box_sale">
            <span>30</span>%
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12">
            <div class="action__box action__box_dual" style="background-image: url('img/action-dual.png')">
              <h3>
                Скидка
                для пар
              </h3>
              <a href="#" class="callback_open">
                подробнее
              </a>
              <div class="action__box_sale">
                <span>10</span>%
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="action__box action__box_group" style="background-image: url('img/action-group.png')">
              <h3>
                Скидка
                для груп
              </h3>
              <a href="#" class="callback_open">
                подробнее
              </a>
              <div class="action__box_sale">
                <span>20</span>%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
