<section class="apply" id="apply">
  <div class="container">
    <div class="title">
      <h2>
        Обращайтесь за визой к нам
      </h2>
    </div>
    <div class="apply__content">
      <div class="apply__block">
        <h3>
          Получение визы <span>с нами:</span>
        </h3>
        <ul>
          <li>
            Вы оставляете <a href="#">завку на сайте</a> и мы говорим вам, какие документы необходимы в вашем конкретном случае
          </li>
          <li>
            Вы отправляете всю необходимую информацию нам <a href="#">по e-mail</a>
          </li>
          <li>
            Всего за нескольк дней подготовим полный пакет документов
          </li>
          <li>
            Личная встреча и подготовка к получению в Варшаве
          </li>
          <li>
            Профессиональная консультация на всех этапах
          </li>
        </ul>
      </div>
      <div class="apply__block apply__block_care">
        <h3>
          Получение визы <span>самостоятельно:</span>
        </h3>
        <ul>
          <li>
            Длительный поиск информации о получении визы вместо того, чтобы готовиться к поездке
          </li>
          <li>
            Сбор пакета документов вслепую
          </li>
          <li>
            Необходимость знания английского языка для заполнения документов
          </li>
          <li>
            Трата времени на подготовку всего пакета документов
          </li>
          <li>
            Риск допустить ошибку в оформлении каких-либо документов и получить отказ
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
