<div class="card-block__wrapper" id="card-block" style="background-image: url('img/card-block-bg.png')">
  <div class="container">
    <div class="card-block">
      <div class="card-block__block">
        <img src="img/country-1.jpg" alt="" class="view-img">
        <img src="img/flag-1.jpg" alt="" class="flag-img">
        <h3>
          англия
        </h3>
        <h4>
          ТУРИЗМ/ БИЗНЕС
        </h4>
        <ul>
          <li>
            коридор - до 2 лет
          </li>
          <li>
            срок пребывания - 180 дней
          </li>
        </ul>
        <div class="more-btn modal-viza-england_open">
          Подробнее
        </div>
      </div>
      <div class="card-block__block">
        <img src="img/country-2.jpg" alt="" class="view-img">
        <img src="img/flag-2.jpg" alt="" class="flag-img">
        <h3>
          США
        </h3>
        <h4>
          ТУРИЗМ/ БИЗНЕС
        </h4>
        <ul>
          <li>
            коридор - до 10 лет
          </li>
          <li>
            срок пребывания - 180 дней
          </li>
        </ul>
        <div class="more-btn modal-viza-usa_open">
          Подробнее
        </div>
      </div>
      <div class="card-block__block">
        <img src="img/country-3.jpg" alt="" class="view-img">
        <img src="img/flag-3.jpg" alt="" class="flag-img">
        <h3>
          канада
        </h3>
        <h4>
          ТУРИЗМ/ БИЗНЕС
        </h4>
        <ul>
          <li>
            коридор - до 5 лет
          </li>
          <li>
            срок пребывания - 180 дней
          </li>
        </ul>
        <div class="more-btn modal-viza-canada_open">
          Подробнее
        </div>
      </div>
    </div>
  </div>
</div>
