<section class="contacts" id="contacts">
  <div id="map">

  </div>
  <div class="contacts__block">
    <div class="title">
      <h3>
        Наши контакты
      </h3>
    </div>
    <div class="contacts__block_info">
      <img src="img/contacts.jpg" alt="">
      <div class="contacts__block_text">
        <a href="tel:+48720868668" class="tel">
          +(48) 720-868-668
        </a>
        <a href="mailto:us.visa.trawel@gmail.com" class="mail">
          us.visa.trawel@gmail.com
        </a>
        <h4>
          Виктор Вознюк
        </h4>
        <p>
          Визовый специалист
        </p>
      </div>
    </div>
  </div>
</section>
