<section class="first-screen" style="background-image: url('img/first-screen-bg.jpg')" id="first-screen">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="title">
          <h1>
            <strong>
              Высокие шансы
            </strong>
            получения визы в Польше
          </h1>
        </div>
        <div class="content">
          <p>К каждому клиенту подходим индивидуально для достижения 100% успеха:</p>
          <ul>
            <li>
              Запишем на собеседование;
            </li>
            <li>
              Заполним необходимые документы и анкеты.
            </li>
          </ul>
          <p>
            <span>
              Вам останется только прийти в назначенное время в посольство.
            </span>
          </p>
        </div>
        <div class="info-img">
          <div class="info-img__block">
            <img src="img/fast.svg" alt="">
            <h2>
              Быстро
            </h2>
            <p>
              подготовка документов <br>
              в течении нескольких дней
            </p>
          </div>
          <div class="info-img__block">
            <img src="img/deff.svg" alt="">
            <h2>
              Надежно
            </h2>
            <p>
              более 5 лет <br>
              опыта
            </p>
          </div>
          <div class="info-img__block">
            <img src="img/help.svg" alt="">
            <h2>Поддержка
            </h2>
            <p>
              бронируем для Вас <br>
              и авиабилеты
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <form action="sendmail.php" class="form">
          <h3>
            Бесплатная
            консультация
          </h3>
          <p>
            Оставьте заявку прямо сейчас и узнайте, <br>
            <strong>как мы гарантировано поможем Вам</strong> <br>
            в получении визы
          </p>
          <div class="input-wrapper input-wrapper-name">
            <input type="text" name="name" placeholder="Введите Имя" required>
          </div>
          <div class="input-wrapper  input-wrapper-tel">
            <input type="tel" name="tel" placeholder="Введите Телефон" required>
          </div>
          <div class="input-wrapper">
            <input type="hidden" name="formName" value="Callback" required>
          </div>
          <button class="button button-form">
            Получить консультацию
          </button>
          <div class="input-wrapper checkbox__wrapper">
            <input type="checkbox" name="agree" class="checbox" id="checbox" required checked>
            <label for="checbox" class="checkbox-label">
              Даю согласие на <a href="#">обработку персональных даных</a>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
