<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="social social__footer">
        <ul>
          <li>
            <a href="https://vk.com/usvisapl" target="_blank">
              <img src="img/vk-white.svg" alt="">
              Вконтакте
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/youtube.svg" alt="">
              YouTube
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/facebook-logo-white.svg" alt="">
              Facebook
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/instagram-white.svg" alt="">
              Instagram
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contacts">
        <a href="mailto:us.visa.trawel@gmail.com" class="mail">
          us.visa.trawel@gmail.com
        </a>
        <a href="tel:+48720868668" class="tel">
          +(48) 720-868-668
        </a>
      </div>
      <a href="#" class="button button-footer callback_open">
        Заказать обратый звонок
      </a>
    </div>
    <div class="copyright">
      <div class="logo">
        <a href="#">
          <img src="img/visa-logo.svg" alt="">
        </a>
        <div class="logo-description">
          Оформление визы
          в Польше
        </div>
      </div>
      <div class="copyright__info">
        © Visa Travel 2019. Все права защищены.
      </div>
    </div>
  </div>
</footer>
