<section class="gallery">
  <div class="container">
    <div class="title">
      <h2>
        Истории наших клиентов
      </h2>
    </div>
    <div class="gallery__wrapper">
      <img src="img/gallery-1.jpg" alt="">
      <img src="img/gallery-2.jpg" alt="">
      <img src="img/gallery-3.jpg" alt="">
      <img src="img/gallery-4.jpg" alt="">
      <img src="img/gallery-5.jpg" alt="">
      <a href="https://vk.com/album-89734913_212976247" target="_blank" class="button button-gallery">
        Посмотреть все фото
      </a>
    </div>
  </div>
</section>
