<header class="header">
  <div class="header-main__wrapper">
    <div class="container">
      <div class="header-main">
        <div class="logo">
          <a href="#">
            <img src="img/visa-logo.svg" alt="">
          </a>
          <div class="logo-description">
            Оформление визы
            в Польше
          </div>
        </div>
        <div class="header-main_mail">
          <a href="mailto:us.visa.trawel@gmail.com">
            us.visa.trawel@gmail.com
          </a>
        </div>
        <a href="#" class="button callback_open">
          Оформить заявку
        </a>
        <div class="callback">
          <a href="tel:+48720868668" class="tel">
            + (48) 720-868-668
          </a>
          <a href="#" class="callback-link callback_open">
            зАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav__wrapper">
    <div class="container">
      <div class="header-nav">
        <nav class="nav-main">
          <ul>
            <li>
              <a href="#first-screen">
                Оформление визы
              </a>
            </li>
            <li>
              <a href="#card-block">
                Услуги
              </a>
            </li>
            <li>
              <a href="#apply">
                Как мы работаем
              </a>
            </li>
            <li>
              <a href="#contacts">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="social">
          <ul>
            <li>
              <a href="https://vk.com/usvisapl" target="_blank">
                <img src="img/vk.svg" alt="">
                Вконтакте
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/facebook.svg" alt="">
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/instagram.svg" alt="">
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-nav__more-btn">
        Меню
        <div class="header-nav__more-btn_burger">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</header>
