<div id="modal-viza-england" class="modal">
  <div class="modal__wrapper">
    <div class="modal__content modal__form">
      <img src="img/country-1.jpg" alt="" class="view-img">
      <img src="img/flag-1.jpg" alt="" class="flag-img">
      <form action="sendmail.php" class="form form-modal">
        <h3>
          Бесплатная
          консультация
        </h3>
        <p>
          Оставьте заявку прямо сейчас и узнайте, <br>
          <strong>как мы гарантировано поможем Вам</strong> <br>
          в получении визы
        </p>
        <div class="input-wrapper input-wrapper-name">
          <input type="text" name="name" placeholder="Введите Имя" required>
        </div>
        <div class="input-wrapper  input-wrapper-tel">
          <input type="tel" name="tel" placeholder="Введите Телефон" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="formName" value="Country" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="country" value="England" required>
        </div>

        <button class="button button-form">
          Получить консультацию
        </button>
        <div class="input-wrapper checkbox__wrapper">
          <input type="checkbox" name="agree" class="checkbox" id="checkbox-england" required checked>
          <label for="checkbox-england" class="checkbox-label">
            Даю согласие на <a href="#">обработку персональных даных</a>
          </label>
        </div>
      </form>
    </div>
    <div class="modal__content modal__info">
      <h4>
        англия
        <span>
        ТУРИЗМ/ БИЗНЕС
        </span>
      </h4>
      <h5>
        Услуги:
      </h5>
      <ul>
        <li>
          формирование пакета документов
        </li>
        <li>
          составление <strong>тур. плана</strong>
        </li>
        <li>
          заполнение <a href="#">визовой анкеты</a>
        </li>
        <li>
          <a href="#">
            запись на подачу документов
          </a>
        </li>
        <li>
          перевод документов (доп. стоимость)
        </li>
        <li>
          подготовка к личной подаче документов в Визовый Центр Посольства Англии
        </li>
      </ul>
      <h5>
        Цены:
      </h5>
      <div class="modal__info_text">
        <p>
          <strong>Консульский сбор 124$ на 6 мес. и 467$ на 2 года</strong> (перевод на счет консульства)
        </p>
        <p>
          <strong>
            Услуги 199$
          </strong>
        </p>
        <p>
          Оплата после записи , заполнения анкет и сбора док.

        </p>
      </div>
      <h5>
        Документы:
      </h5>
      <ul>
        <li>
          Загранпаспорт
        </li>
        <li>
          Фото
        </li>
        <li>
          Копия первого разворота гражданского паспорта
        </li>
        <li>
          Справка с вашего места работы или учебы.
        </li>
        <li>
          Основания нахождения на територии Польши  - карта побыта / виза / биометрический паспорт
        </li>
        <li>
          Документальное подтверждение средств на поездку и пребывание в Великобритании
        </li>
        <li>
          Подтверждение целей поездки: <br>
          Приглашение (если вы едете в гости + подтверждение связей с приглашающими)
        </li>
        <li>
          Бронь отеля
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="modal-viza-usa" class="modal">
  <div class="modal__wrapper">
    <div class="modal__content modal__form">
      <img src="img/country-2.jpg" alt="" class="view-img">
      <img src="img/flag-2.jpg" alt="" class="flag-img">
      <form action="sendmail.php" class="form form-modal">
        <h3>
          Бесплатная
          консультация
        </h3>
        <p>
          Оставьте заявку прямо сейчас и узнайте, <br>
          <strong>как мы гарантировано поможем Вам</strong> <br>
          в получении визы
        </p>
        <div class="input-wrapper input-wrapper-name">
          <input type="text" name="name" placeholder="Введите Имя" required>
        </div>
        <div class="input-wrapper  input-wrapper-tel">
          <input type="tel" name="tel" placeholder="Введите Телефон" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="country" value="USA" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="formName" value="Country" required>
        </div>
        <button class="button button-form">
          Получить консультацию
        </button>
        <div class="input-wrapper checkbox__wrapper">
          <input type="checkbox" name="agree" class="checkbox" id="checkbox-usa" required checked>
          <label for="checkbox-usa" class="checkbox-label">
            Даю согласие на <a href="#">обработку персональных даных</a>
          </label>
        </div>
      </form>
    </div>
    <div class="modal__content modal__info">
      <h4>
        США
        <span>
        ТУРИЗМ/ БИЗНЕС
        </span>
      </h4>
      <h5>
        Услуги:
      </h5>
      <ul>
        <li>
          составление <strong>тур. плана</strong>
        </li>
        <li>
          заполнение <a href="#">онлайн анкеты</a>
        </li>
        <li>
          <a href="#">
            запись на собеседование
          </a>
        </li>
        <li>
          услуги бронирования отелей и авиабилетов
        </li>
        <li>
          подготовка к собеседованию
        </li>
        <li>
          консультация
        </li>
      </ul>
      <h5>
        Цены:
      </h5>
      <div class="modal__info_text">
        <p>
          <strong>Консульский сбор 160$</strong> (перевод на счет консульства)
        </p>
        <p>
          <strong>
            Услуги 199$
          </strong>
        </p>
        <p>
          Оплата после записи на собеседование
        </p>
      </div>
      <h5>
        Минимальный пакет документов:
      </h5>
      <ul>
        <li>
          Паспорт
        </li>
        <li>
          Фото 5х5 в электронном виде
        </li>
        <li>
          Справка с места работы/учебы
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="modal-viza-canada" class="modal">
  <div class="modal__wrapper">
    <div class="modal__content modal__form">
      <img src="img/country-3.jpg" alt="" class="view-img">
      <img src="img/flag-3.jpg" alt="" class="flag-img">
      <form action="sendmail.php" class="form form-modal">
        <h3>
          Бесплатная
          консультация
        </h3>
        <p>
          Оставьте заявку прямо сейчас и узнайте, <br>
          <strong>как мы гарантировано поможем Вам</strong> <br>
          в получении визы
        </p>
        <div class="input-wrapper input-wrapper-name">
          <input type="text" name="name" placeholder="Введите Имя" required>
        </div>
        <div class="input-wrapper  input-wrapper-tel">
          <input type="tel" name="tel" placeholder="Введите Телефон" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="formName" value="Country" required>
        </div>
        <div class="input-wrapper">
          <input type="hidden" name="country" value="Canada" required>
        </div>
        <button class="button button-form">
          Получить консультацию
        </button>
        <div class="input-wrapper checkbox__wrapper">
          <input type="checkbox" name="agree" class="checkbox" id="checkbox-canada" required checked>
          <label for="checkbox-canada" class="checkbox-label">
            Даю согласие на <a href="#">обработку персональных даных</a>
          </label>
        </div>
      </form>
    </div>
    <div class="modal__content modal__info">
      <h4>
        Канада
        <span>
        ТУРИЗМ/ БИЗНЕС
        </span>
      </h4>
      <h5>
        Услуги:
      </h5>
      <ul>
        <li>
          формирование пакета документов
        </li>
        <li>
          заполнение <a href="#">посольской анкеты</a>
        </li>
        <li>
          составление тур. плана
        </li>
        <li>
          перевод документов (доп. стоимость)
        </li>
        <li>
          онлайн подача
        </li>
        <li>
          консультация
        </li>
      </ul>
      <h5>
        Цены:
      </h5>
      <div class="modal__info_text">
        <p>
          <strong>Консульский сбор 100$</strong> (перевод на счет консульства)
        </p>
        <p>
          <strong>
            Услуги 199$
          </strong>
        </p>
        <p>
          Оплата после записи , заполнения анкет и сбора док.

        </p>
      </div>
      <h5>
        Документы:
      </h5>
      <ul>
        <li>
          Загранпаспорт
        </li>
        <li>
          Фото
        </li>
        <li>
          Копия первого разворота гражданского паспорта
        </li>
        <li>
          Справка с вашего места работы или учебы.
        </li>
        <li>
          Основания нахождения на територии Польши  - карта побыта / виза / биометрический паспорт
        </li>
        <li>
          Документальное подтверждение средств на поездку и пребывание в Канаде
        </li>
        <li>
          Подтверждение целей поездки: <br>
          Приглашение (если вы едете в гости + подтверждение связей с приглашающими)
        </li>
        <li>
          Бронь отеля
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="callback" class="modal-callback">
  <form action="sendmail.php" class="form form-modal">
    <h3>
      Бесплатная
      консультация
    </h3>
    <p>
      Оставьте заявку прямо сейчас и узнайте, <br>
      <strong>как мы гарантировано поможем Вам</strong> <br>
      в получении визы
    </p>
    <div class="input-wrapper input-wrapper-name">
      <input type="text" name="name" placeholder="Введите Имя" required>
    </div>
    <div class="input-wrapper  input-wrapper-tel">
      <input type="tel" name="tel" placeholder="Введите Телефон" required>
    </div>
    <div class="input-wrapper">
      <input type="hidden" name="formName" value="Callback" required>
    </div>
    <button class="button button-form">
      Получить консультацию
    </button>
    <div class="input-wrapper checkbox__wrapper">
      <input type="checkbox" name="agree" class="checbox" id="checbox" required checked>
      <label for="checbox" class="checkbox-label">
        Даю согласие на <a href="#">обработку персональных даных</a>
      </label>
    </div>
  </form>
</div>
<div id="review" class="modal-review">
  <form action="sendmail.php" class="form form-modal">
    <h3>
      Оставьте свой отзыв
    </h3>
    <p>
      Оставьте отзыв прямо сейчас<br>
      <strong>нам очень важно Ваше мнение.</strong> <br>
      Спасибо!
    </p>
    <div class="input-wrapper input-wrapper-name">
      <input type="text" name="name" placeholder="Введите Имя" required>
    </div>
    <div class="input-wrapper  input-wrapper-tel">
      <input type="tel" name="tel" placeholder="Введите Телефон" required>
    </div>
    <div class="input-wrapper">
      <input type="hidden" name="formName" value="Reviews" required>
    </div>
    <div class="input-wrapper input-wrapper-textarea">
      <textarea name="reviews" id="reviews-input" cols="40" rows="1" placeholder="Оставьте свой отзыв" required></textarea>
    </div>
    <button class="button button-form">
      Оставить отзыв
    </button>
    <div class="input-wrapper checkbox__wrapper">
      <input type="checkbox" name="agree" class="checbox" id="checbox" required checked>
      <label for="checbox" class="checkbox-label">
        Даю согласие на <a href="#">обработку персональных даных</a>
      </label>
    </div>
  </form>
</div>
<div id="thanks" class="modal-callback">
  <div class="form form-modal">
    <h3>
      Спасибо за заявку!
    </h3>
    <p>
      Наши менеджеры свяжутся с вами, <br>
      <strong>в кратчайшие сроки</strong>
    </p>
  </div>
</div>
