<section class="reviews">
  <div class="title">
    <h2>
      Наши отзывы
    </h2>
  </div>
  <div class="reviews__slider">
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__slider_slide">
      <div class="reviews__slider_wrapper">
        <div class="reviews__slider_content">
          <img src="img/review-1.jpg" alt="">
          <div class="reviews__slider_info">
            <h3>
              Наталья
            </h3>
            <time datetime="">
              15.11.2018
            </time>
          </div>
        </div>
        <div class="reviews__slider_content">
          <div class="reviews__slider_review">
            <h4>
              Здравствуйте!
            </h4>
            <p>
              В сентябре у моего шефа была конференция в Нью-Йорке, на которую он планировал всзять меня как помощницу. Но, в отличие от него, у меня не было американской визы. Поскольку я не замужем и детей нет, а еще из поездок в паспорте у меня только Болгария и Польша, то я очень нервничала, что мне не откроют. Фирма мне помогла, они сделали все анкеты и формы (там их страниц десять, сама бы я в них до пенсии разбиралась), записали в посольство. В посольстве задали только пару вопросов по моей работе, и все - видно, в анкете было очень подробно все описано. Визу поставили, причем на десять лет! То есть я до конца паспорта смогу туда кататься!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button__wrapper">
    <a href="#" class="button button-gallery review_open">
      Оставить отзыв
    </a>
  </div>
</section>
